body{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
}

.logo{
    width: 100%;
    overflow: hidden;
    background: #a6051a;
    color: #ffffff;
}


.logo p{
    font-size: 30px;
    font-family: 'FerroRosso';
    color: black;
    margin: 0%;
    display: block;
    position: absolute;
    top:10px;
    left: 30px;
}
@font-face {
    font-family: 'FerroRosso';
    src: local("FerroRosso"), url("FerroRosso.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}
.ferrari{
    height: 80px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
