body{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6F0100;
}
.logo{
    width: 100%;
    overflow: hidden;
    background: #6F0100;
    color: #ffffff;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo p{
    font-size: 30px;
    font-family: 'FerroRosso';
    color: black;
    margin: 0%;
}

@font-face {
    font-family: 'FerroRosso';
    src: local("FerroRosso"), url("FerroRosso.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Formula1-Regular';
    src: local("Formula1-Regular"), url("Formula1-Regular.otf") format("truetype");
}
.ferrari{
    height: 80px;
    width: 100px;
}

.ferrari:hover{
    opacity: 0.7;
    scale: 1.2;
    cursor: pointer;
    transition: 0.2s;
}
.lista1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6F0100;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.li1{
    display: inline;
    font-family: 'Formula1-Regular';
    font-size: 30px;
}

.li1 a{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;
}

.li1 a:hover{
    scale: 1.3;
    color: #ffffff;
    transition: 0.20s;
}

#current{
    color: white;
}

.showcase{
    background-image: url("volan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 535px;
    background-position: 70% 90%;
}

.showcase h1{
    margin: 0;
    color: #ffffff;
    margin-left: 100px;
    font-family: 'Formula1-Regular';
    font-size: 50px;
    margin-bottom: 35px;
    text-shadow: black 0.1em 0.1em 0.2em;

}
.showcase p{
    margin: 0;
    color: #ffffff;
    margin-left: 100px;
    font-family: 'Formula1-Regular';
    font-size: 20px;
    margin-bottom: 70px;
    text-shadow: gray 0.1em 0.1em 0.2em;
}
.showcase a{
    text-decoration: none;
    color: white;
}
.showcase button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 25px;
    display: inline;
    margin-left: 20px;
}
.showcase button:hover{
    color: #6F0100;
    scale: 1.3;
    transition: 0.20s;
}
.showcase a:hover{
    color: #6F0100;
    scale: 1.3;
    transition: 0.20s;
}
#link{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 25px;
}
.bolid{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.bolid img{
    width: 50%;
    display: flex;
    float:right;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: 100px;
    border-left: #fbce11 1px solid;
    border-bottom: #fbce11 1px solid;
    border-bottom-left-radius: 40px;
}
.container{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6F0100;
}
aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6F0100;
}
aside img{
    width: 50%;
    border-bottom: #fbce11 1px solid;
    border-right: #fbce11 1px solid;
    border-left: #fbce11 1px solid;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.sezona{
    width: 100%;
    background-color: #6F0100;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
    font-size: 30px;
    /*padding: 20px;*/
}
.sezona h4{
    margin: 0;
}
.pregled{
    background-color: #6F0100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Formula1-Regular';
}
.sezona p{
    line-height: 0.8em;
    font-size: 20px;
    font-family: 'Formula1-Regular';
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
.vozaci{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6F0100;
    color: white;
    padding: 20px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
    height: 50rem;
}
#tim{
    border-top: 3px white solid;
}
.vozaci p{
    margin-top: 5px;
    font-size: 40px;
}
.vozac1{
    background-image: url("leclerc-naslovna.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.vozac1 p{
    margin:0;
    padding: 2px;
    font-size: 30px;
    text-shadow: black 5px 5px 5px;
    color: white;
}

.vozac2{
    margin-top: 10px;
    background-image: url("sainz-naslovna.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.vozac2 p{
    margin:0;
    padding: 2px;
    font-size: 30px;
    text-shadow: black 5px 5px 5px;
    color: white;
}
#name:hover{
    scale: 1.3;
    transition: 0.20s;
    color:#fbce11 ;
}
.vozac2 a{
    text-decoration: none;
    color: white;
}
.vozac2 a:hover{
    color: #fbce11;
    scale: 1.3;
    transition: 0.20s;
}
.vozac1 a{
    text-decoration: none;
    color: white;
}
.vozac1 a:hover{
    color: #fbce11;
    scale: 1.3;
    transition: 0.20s;
}
.sponzori{
    background-color: rgb(211, 208, 208);
    color: black;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
    border-top:2px black solid; 
}
.sponzori img{
    width: 10%;
    padding-right: 45px;
}
.sponzori #defender{
    margin-bottom: 40px;
}
.sponzori #santander{
    margin-bottom: 10px;
}
#shell:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#santander:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#defender:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#hcl:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#puma:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#aws:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
.sponzori2{
    background-color: rgb(211, 208, 208);
    color: black;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Formula1-Regular';
}
.sponzori2 img{
    width: 10%;
    padding-right: 45px;
}
#pirelli{
    margin-bottom: 20px;
}
#pirelli:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
#bell:hover{
    scale: 1.3;
    transition: 0.20s;
    opacity: 0.5;
}
footer{
    background-color: #6F0100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 15px;
    font-family: 'Formula1-Regular';
    margin: 0;
}
footer p{
    margin: 0;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
footer a:hover{
    color: #fbce11;
    transition: 0.40s;
}
#srce{
    color: black;
    size: 15px;
}

.wrapper{
    display: flex;
    position: relative;
    background-color: #6F0100;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 600px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }

.naslov{
    height: 100px;
    width: 100%;
    background-color: #6F0100;
    border-top: 2px solid #111111  ;
}
.naslov h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;

}
.info{
    background-color: #D3D0D0;
    display: flex;
}
.leclerc{
    width: 40%;
}
.leclerc img{
    width: 100%;
    height: 100%;
}

.grafika{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kaciga{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#cl-kaciga{
    width: 40%;
    height: 40%;
}
#leclerc-16{
    font-size: 100px;
    font-family: 'Formula1-Regular';
}
.kaciga_sainz{
    width: 300px;
    height: 200px;
    margin-left: 0;
}
table{
    display: flex;
    justify-content: center;
    font-family: 'Formula1-Regular';
    font-size: 15px;
    color: #6F0100;
}
th,td{
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 20px;
}
th{
    color: black;
    text-align: left;
}

#spanija{
    width: 40%;
    margin-left: 20px;
    border-radius: 10px;
}
.statistika{
    background-color: #D3D0D0;
}
#broj{
    font-size: 50px;
    color: #6F0100;
    font-family: 'Formula1-Regular';
}
#ferrari{
    border-right: #111111 2px solid;
    border-bottom: #111111 2px solid;
    border-bottom-right-radius: 20px;
}
#p1{
    border-right: #6F0100 5px solid;
    border-top: #6F0100 5px solid;
    border-top-right-radius: 20px;
}
.biografija{
    background-color: rgb(211, 208, 208);
}
.biografija h2{
    margin: 0;
    font-family: 'Formula1-Regular';
    padding-left: 40px;
    padding-right: 40px;
    color: #6F0100;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
.biografija p{
    margin: 0;
    font-family: 'Formula1-Regular';
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}
#zadnji{
    padding-bottom: 15px;
}
.sljedeća{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
}
.sljedeća a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.prethodna{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-family: 'Formula1-Regular';
}
.prethodna a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.sainz{
    width: 80%;
}
.f175{
    width: 100%;
    background-color: #6F0100;
}
.f175 h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-top: #111111 2px solid;
}
.showcase2{
    background-image: url("/slike/f1-75.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top: 0;
    position: relative;
}
.bijela-strelica{
    height: 50px;
    position: absolute;
    top: 440px;
    left: 47%;
}
.bijela-strelica1{
    height: 50px;
    position: absolute;
    top: 400px;
    left: 47%;
}
.bijela-strelica:hover{
    cursor: pointer;
    scale: 1.2;
    opacity: 0.6;
    transition: 0.5s;
}
.bijela-strelica1:hover{
    cursor: pointer;
    scale: 1.2;
    opacity: 0.6;
    transition: 0.5s;
}
.bolid{
    width: 100%;
    height: 500px;
    margin-top: 0;
    background-color: #6F0100;

}
.bolid h1{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-top: #111111 2px solid;
}
.specs{
    background-color: #303030;
    width: 100%;
    height: 420px;
    margin-top: 0;
}
.specs ul{
    list-style: none;
}
.spec1{
    float: left;
    width: 33.33%;
    height: 100px;
    text-align: center;
    font-family: 'Formula1-Regular';
    font-size: 20px;
    color: #f2f2f2;
}
.spec1 h2{
    font-size: 30px;
    color: #6F0100;
    margin: 0;
}
.spec1 p{
    margin: 0;
}
#main{
    float: left;
    width:70%;
    padding: 0 30px;
    padding-right: 0;
    box-sizing: border-box;
    background-color: #6F0100;
    color: white;
    border-top: #111111 2px solid;
}
#main h2{
    font-family: 'Formula1-Regular';
    font-size: 30px;
    color: #111111;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    margin-left: 200px;
}
#sidebar{
    float:right;
    width:30%;
    background-color: #6F0100;
    color: white;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    border-top: #111111 2px solid;
}
#sidebar h3{
    font-family: 'Formula1-Regular';
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    border-left: #fbce11 5px solid;
    border-bottom: #fbce11 5px solid;
    border-bottom-left-radius: 20px;
}
#stats{
    background-color: #0d8922;
    font-family: 'Formula1-Regular';
    color: #111111;
    padding: 0;
    text-align: center;
    justify-content: left;
    float: left;
    margin-top: 1px;
}
#stats h2{
    margin-top: 0;
    margin-bottom: 0;
}
#tabela{
    background-color: #6F0100;
    font-family: 'Formula1-Regular';
    color: white;
    padding: 0;
    text-align: left;
    justify-content: left;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-left: #0d8922 4px solid;
    border-bottom: #0d8922 4px solid;
}
#konstruktor{
    border-bottom: #0d8922 2px solid;
}
.historija{
    width:70%;
    padding: 0 30px;
    text-align: justify;
    text-justify: newspaper;
}
.historija p{
    margin: 0;
    font-family: 'Formula1-Regular';
    line-height: 2.0em;
    color: lavenderblush;
}
.container h2{
    text-align: center;
    margin: 0;
    font-family: 'Formula1-Regular';
    color: #ffffff;
}
.sampioni ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}
.sampioni li{
    font-family: 'Formula1-Regular';
    color: #ffffff;
    padding-bottom: 10px;
}
.sefovi ul{
    list-style: none;
    margin: 0;
    margin-left: 50px;
    padding: 0;
}
.sefovi li{
    font-family: 'Formula1-Regular';
    color: #ffffff;
    padding-bottom: 10px;
}
